a {
  color: #16b6e3 !important;
  cursor: pointer !important;
}

body {
  font-family: "Roboto", sans-serif;
  color: #444444 !important;
}

.tag-list {
  color: #777 !important;
  font-size: 13px;
  background-color: #eee;
  border-radius: 4px;
  padding: 5px 8px;
}

.tags ul li a:hover {
  color: #16b6e3 !important;
}

.img-landing {
  margin-bottom: 10px;
  border-bottom: 1px solid #bcbcbc;
}

li {
  text-align: justify !important;
}

.prev-next {
  background-color: transparent !important;
  border-width: thin !important;
  width: 2rem !important;
  height: 2rem !important;
}
