<div class="clearfix">&nbsp;</div>
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <!-- <h4>Join Our Newsletter</h4> -->
			<form action="" method="post">
			  <!-- <input type="email" name="email" value="example@mail.com"><input class="subscribebtn" type="submit" value="Subscribe Now"> -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>India4IAS</h3>
            <p>
              #95, 2″d and 3’a Floor,<br>
              60 Ft Main Road, Chandra Layout, <br>
              Bengaluru-560040 <br><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "home()">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "aboutUs()">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "contactUs()">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "faq()">FAQ's</a></li>
            </ul>
          </div>
		  
		    <div class="col-lg-3 col-md-6 footer-links">
            <h4>Terms</h4>
            <ul>
			 <li><i class="bx bx-chevron-right"></i> <a (click) = "terms()">Terms & Condition</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "privacy()">Privacy & Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click) = "cancellation()">Cancellation & Refund Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-12 col-md-12 footer-links">
            <h4>Connect Us</h4>
            <div class="social-links mt-3">
              <a class="telegram" (click) = "telegram()"><i class="fab fa-telegram text-white"></i></a>
              <a class="facebook" (click) = "facebook()"><i class="fab fa-facebook text-white"></i></a>
              <a class="instagram" (click) = "instagram()"><i class="fab fa-instagram text-white"></i></a>
              <a class="youtube" (click) = "youtube()"><i class="fab fa-youtube text-white"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
       <div class="copyright">
        &copy; Copyright <strong><span>India4IAS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.Svarks.com/">Svarks</a>
      </div>
    </div>
  </footer><!-- End Footer -->
