<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
  <div class="container">
    <div class="contact-info float-end">
      <i class="fas fa-mobile-alt"><a href="mailto:contact@example.com">+91 - 9902404443 /
          9902504443</a></i>
    </div>
    <!-- <div class="social-links d-none d-md-flex align-items-center">
      <a class="">Home</a>
      <a>|</a>
      <a class="">Login / Pay fees</a>
      <a>|</a>
      <a class="">Others</a>
    </div> -->
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <h1 class="logo navbar-brand"><a><img src="assets/img/India4IASLogo.png" class="img-responsive" alt=""></a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link scrollto"  href="https://www.india4ias.com/">Home</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="https://www.india4ias.com/about-us/">About Us</a></li>
            <li class="dropdown nav-item"><a><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li class="dropdown"><a><span>IAS/UPSC</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="https://www.india4ias.com/gs-prelims-mains-integrated-programme/">GS Prelims & Mains Integrated Programme</a></li>
                    <li class="dropdown"><a><span>Optional Foundation course</span> <i
                          class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a>Kannada Literature</a></li>
                        <li><a>Political Science</a></li>
                        <li><a>Sociology </a></li>
                        <li><a>Public Administration</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a><span>Prelims Specific</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="https://www.india4ias.com/current-affairs-prelims/">Current Affairs (Prelims)</a></li>
                        <li><a href="https://www.india4ias.com/csat-course-prelims/">CSAT Course (Prelims)</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a><span>Mains Specific</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="https://www.india4ias.com/ethics-classes/">Ethics Classes</a></li>
                        <li><a href="https://www.india4ias.com/essay-classes/">Essay Classes</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"><a><span>KAS/KPSC</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a>GS:Prelims Batch</a></li>
                    <li><a>GS:Mains Batch</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown nav-item"><a><span>Test Series</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li class="dropdown"><a><span>IAS/UPSC</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="https://www.india4ias.com/prelims-test-series/">Prelims Test Series</a></li>
                    <li><a href="https://www.india4ias.com/mains-30-to-victory/">Mains (30 to Victory)</a></li>
                    <li><a>Optional Subjects</a></li>
                    <li><a>ESSAY</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a><span>KAS/KPSC</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a>Prelims Test Series</a></li>
                    <li><a>Mains Test Series</a></li>
                    <li><a href="https://www.india4ias.com/wp-content/uploads/2021/07/All-in-One-Paper-1-to-5.pdf">KAS Kadana</a></li>
                    <li><a href="https://www.india4ias.com/main-test/">Mains Test</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown nav-item"><a><span>Current Affairs</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a (click)="redirectToLanding()">Daily Current Affairs</a></li>
                <li><a href="https://www.india4ias.com/quizzes/">Daily Quiz</a></li>
              </ul>
            </li>
            <li class="dropdown nav-item"><a><span>IAS</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="https://www.india4ias.com/about-cse/">About CSE</a></li>
                <li><a href="https://www.india4ias.com/gs1-strategy/">GS1 Strategy</a></li>
                <li><a href="https://www.india4ias.com/gs2-strategy/">GS2 Strategy</a></li>
                <li><a href="https://www.india4ias.com/gs3-strategy/">GS3 Strategy</a></li>
                <li><a href="https://www.india4ias.com/gs4-strategy/">GS4 Strategy</a></li>
                <li><a href="https://www.india4ias.com/csat-strategy/">CSAT Strategy</a></li>
                <li><a href="https://www.india4ias.com/essay-strategy/">Essay Strategy</a></li>
                <li class="dropdown"><a><span>Optional Subject<br>Strategy</span> <i
                      class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="https://www.india4ias.com/kannada-literature/">Kannada Literature</a></li>
                    <li><a href="https://www.india4ias.com/public-administration/">Public Administration</a></li>
                    <li><a href="https://www.india4ias.com/sociology/">Sociology</a></li>
                    <li><a href="https://www.india4ias.com/political-science-2/">Political Science</a></li>
                  </ul>
                </li>
                <li><a href="https://www.india4ias.com/how-to-read-newspaper/">How to read<br>News Paper</a></li>
                <li><a>Interview</a></li>
                <li><a href="https://www.india4ias.com/previous-year-papers/">Previous Year Papers</a></li>
              </ul>
            </li>
            <li class="dropdown nav-item"><a><span>KAS</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="https://www.india4ias.com/essaypaper-1/">Essay (paper-1)</a></li>
                <li><a href="https://www.india4ias.com/gs-1paper-2/">GS1 (paper-2)</a></li>
                <li><a href="https://www.india4ias.com/gs-2paper-3/">GS2 (paper-3)</a></li>
                <li><a href="https://www.india4ias.com/gs-3paper-4/">GS3 (paper-4)</a></li>
                <li><a href="https://www.india4ias.com/gs-4paper-5/">GS4 (paper-5)</a></li>
                <li><a href="https://www.india4ias.com/toppers-talk/">Toppers Talk</a></li>
              </ul>
            </li>
            <li class="dropdown nav-item"><a><span>Others</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="https://www.india4ias.com/downloads/">Download: NCERT</a></li>
                <li><a href="https://www.india4ias.com/testimonials/">Testimonials</a></li>
                <li><a href="https://www.india4ias.com/gallery/">Gallery</a></li>
                <li><a>Toppers Strategy</a></li>
                <li><a href="https://www.india4ias.com/free-counseling/">Free Counseling</a></li>
                <li><a href="https://www.india4ias.com/scholarship/">Scholarship</a></li>
                <li><a>Faculty</a></li>
                <li><a>Fee Structure</a></li>
                <li><a>In Association</a></li>
                <li><a>Carrier</a></li>
                <li><a>Brochure</a></li>
                <li><a href="https://www.india4ias.com/contact-us/">Contact Us</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link scrollto" href="https://stage.india4ias.com">LOGIN/PAY FEES</a></li>
          </ul>
        </div>
      </div>
</header><!-- End Header -->